---
import Grid from "@components/ui/grid.astro";
import Wallpaper from "@components/ui/wallpaper.astro";
import Arrow from "@components/icons/arrow.astro";
import type { Category } from "src/types";
import { getWallpapers } from "@services/get-wallpapers";

interface Props {
    category: Category;
}
const IMAGES_FOR_PREVIEW = 10;

const {
    category: { name: categoryName },
} = Astro.props;
const wallpapers = getWallpapers({ category: categoryName, limit: 10 }).then(
    (data) => data,
);
const totalResults = wallpapers.then((data) => data?.length);
---

<section>
    <header
        class="left-0 p-2 bg-bg/95 dark:bg-bg-dark/95 justify-between flex items-center z-10 text-sm md:text-base"
    >
        <h2
            class="font-bold text-xl md:text-2xl capitalize text-primary-dark dark:text-primary"
        >
            {categoryName}
        </h2>
        {
            totalResults.then((data) => {
                if (Number(data) === IMAGES_FOR_PREVIEW) {
                    return (
                        <a
                            href={`/wallpapers/${categoryName}`}
                            class="flex duration-300  text-color-text dark:text-color-text-dark dark:hover:text-primary hover:text-primary-dark  text-base font-semibold  md:text-xl items-center justify-center gap-1 group"
                        >
                            show all
                            <Arrow class="size-4" />
                        </a>
                    );
                }
            })
        }
    </header>

    <div class="my-gallery" id="#my-gallery">
        <Grid class="px-2">
            {
                wallpapers.then((data) => {
                    return data?.map((item) => {
                        return <Wallpaper {...item} />;
                    });
                })
            }
        </Grid>
    </div>
</section>
