<main class="gap-4 bg-bg-dark h-dvh flex items-center justify-center">
  <h2 class="text-4xl font-bold uppercase">Page not found</h2>
</main>

<style>
  h2 {
    -webkit-text-fill-color: #282828;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #eadbad;
  }
</style>
