---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"section"> {}
const props = Astro.props;
---

<section
    id="my-gallery"
    class={twMerge(
        "grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-2 md:gap-3 w-full",
        props.class,
    )}
>
    <slot />
</section>
